<%- include("header") -%>
<div class="about">
  <h1 style="text-align:center">Contested Rules</h1>
  <ul>
  <li style="padding-bottom:20px">Bene-Gesserit's ally may freely enter a castle where advisors are present, however if a battle occurs and the ally is left with 0 forces as a result, the advisors also die.</li>
  <li style="padding-bottom:20px">Poison Tooth and Artillery Strike are discarded after being used (even if you win
the battle). Poison Tooth has a special condition on it
regarding whether or not it was used: If you played Poison
Tooth but didn’t use it, yet still won the battle, you do not
need to discard it. </li>
<li style="padding-bottom:20px">If at the end of the turn, two factions occupy a stronghold that is under
storm, they cannot battle in
the Battle phase and therefore occupation does
not count for the win.
</li>
<li style="padding-bottom:20px">If at any time during the bidding phase, a players hand reaches the maximum size, they will no longer be able to bid, even if they play cards afterwards to empty their hand.</li>
<li style="padding-bottom:20px">a Ghola card or the Emperor’s alliance ability cannot let a
player revive more than one Sardaukar or Fedaykin per
turn, not can the Tleilaxu</li>
<li style="padding-bottom:20px">Advanced Karama card powers are usable only once per game</li>
<li style="padding-bottom:20px">The Bene Gesserit can ship or move forces directly into a
territory as advisors when accompanying other
players’ forces. Otherwise, they can only
ship or move forces in as advisors into any
territory where they already have one or more
advisors. If those forces being moved started
as fighters, they must immediately flip to
advisors upon entering the territory</li>
<li style="padding-bottom:20px">
  The Bene Gesserit need to name either
a generic category of weapon (projectile
weapon or poison weapon), or a generic
category of defense (shield or snooper), or
the exact special card which must be or not
be played. For example, Artillery Strike and
Lasgun do not specify that they count as
projectile weapons, and therefore must be
named specifically by the Bene Gesserit. Certain Special cards (Chemistry, Poison
Blade, Poison Tooth, Shield Snooper and
Weirding Way) have additional text on them
explaining that they are, in fact, played as a
generic type, e.g. as a projectile weapon or a
poison defense, and they do count as part of
the generic category and can be stopped by
a Voice naming that category, but can also be
named specifically. Weirding Way and Chemistry
only count as a projectile weapon and a poison
weapon under certain circumstances, and
could still be played for their other effects.
</li>
<li style="padding-bottom:20px">
  The destination of a worm ride can be any
territory (even the Ixian Hidden Mobile
Stronghold), as long as the sector in which the
forces are placed is not currently under storm.
</li>
<li style="padding-bottom:20px">During Shipment, the Fremen can bring
reserves into The Great Flat or a territory
within 2 territories of The Great Flat that is
under storm at half loss. But they cannot move
(as opposed to ship) forces into a territory
under storm. Neither can they ride a worm
into or out of a territory under storm.</li>
<li style="padding-bottom:20px"> The Karama stops one use of a faction’s
ability. For example, if the Bene Gesserit are
in two battles, their Voice ability can only be
stopped for one battle by a Karama card.</li>
<li style="padding-bottom:20px">Karama card can prevent Kwizatz Haderach from being used
in any one battle but it must be played before battle
plans are revealed.</li>
<li style="padding-bottom:20px">
  Karama card can prevent Bene-Gesserit from
using a Worthless card as a Karama; the
Worthless card must be discarded.
</li>
<li style="padding-bottom:20px">
  Family Atomics can be played after seeing how far the storm
will move that turn, but it must be played before the storm actually moves.
</li>
<li style="padding-bottom:20px">
Poison Tooth is stopped by Chemistry, however Is it not stopped by any
other kind of Poison Defense.
</li>
<li style="padding-bottom:20px">
  While Weirding Way is a projectile
  defense, it is not a Shield, and does not trigger
  an explosion. 
</li>

</ul>
  </div>
<%- include("footer") -%>
