.inf-content{
  margin-top: 2%;

   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   border-radius:10px;
}

.pic{
  border-radius: 50%
}

.name{
  color: white;
  text-align: center;
  font-size: calc(1.375rem + 1.5vw);
}

.logos{
  width:30px;
  height: 30px;
}
body {
	font-family: 'Lato', Arial, sans-serif;
	color: #989c9b;
  background-image: url("/Dune-BackGround.jpeg")
}
.container > header {
	margin: 0 auto;
	padding: 1em;
	text-align: center;
}

.container > header h1 {
  font-weight: 600;
	font-size: 3em;
	margin: 0;
	color: #D6DAEC ;
}

.wrapper {
	line-height: 1.5em;
	margin: 0 auto;
	padding: 2em 0 3em;
	width: 65%;
	max-width: 2000px;

}

table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
		text-align: center;
		opacity:0.8;
}

th {
    background-color: #D3FDF3;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
		color: #787B7E ;
}

td, th {
    padding: 1em 0.5em;
    text-align: center;
}

tbody th {
	background-color: #2ea879;
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}

td.rank {
	text-transform: capitalize;
}
label{
	color: white;
}
tbody tr:hover {
  color: black;
  background-color: orange;
    -webkit-transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    cursor: pointer;
}

td.rank {
	text-transform: capitalize;
}

.profilef{
  display: flex;
  flex-direction:column;
  justify-content: center;
}
footer{
  text-align:center;
}
.about{
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 1%;
  margin-bottom: 10%;
  padding-top: 5%;
  color: white;
  background-color: rgba(0,0,0,0.5) !important;
  border-radius: 2%;
}
.note{
  font-size: 80%;
  color: white;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
color: white;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}
